body {
  background: #051D3B;
}

* {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

*:focus {
  outline: none;
}

.input {
  padding: 16px 14px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  color: #ffffff;
}

.input::-webkit-input-placeholder {
  color: #ffffff;
}

.input:-ms-input-placeholder {
  color: #ffffff;
}

.input::-ms-input-placeholder {
  color: #ffffff;
}

.input::placeholder {
  color: #ffffff;
}

.input:active, .input:hover {
  background: rgba(255, 255, 255, 0.24);
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown .input {
  width: 100%;
  padding-right: 40px;
}

.dropdown_icon {
  position: absolute;
  top: calc(50% - 2px);
  right: 16px;
}

.dropdown:hover .input {
  background: rgba(255, 255, 255, 0.24);
}

.button1 {
  padding: 16px;
  background: #5081FB;
  border: none;
  border-radius: 8px;
  color: #051D3B;
  cursor: pointer;
  font-size: 16px;
}

.button1:hover {
  background: #7BA4FC;
}

.button1:active {
  border: 4px solid #5081FB;
}

.button1:focus {
  background: #96B9FD;
}

.button2 {
  padding: 16px;
  background: #0b254a;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.button2:hover {
  background: #112d5a;
}

.button2:active {
  background: #0b254a;
  border: 4px solid #173569;
}

.button2:focus {
  background: #173569;
}

.buttonMenu {
  padding: 14px 15px;
  background: none;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.buttonMenu:hover {
  background: #0b254a;
}

.buttonMenu:active {
  background: #112d5a;
}

.itemMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.itemMenu .buttonMenu {
  background: #112d5a;
  margin-right: 16px;
}

.itemMenu .buttonMenu img {
  opacity: 0.5;
}

.itemMenu_text {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.itemMenu:hover .buttonMenu {
  background: #5081FB;
  opacity: 0.64;
}

.itemMenu:hover .buttonMenu img {
  opacity: 1;
}

.itemMenu:hover .itemMenu_text {
  opacity: 1;
}

.itemMenu_active .buttonMenu {
  background: #5081FB;
}

.itemMenu_active .buttonMenu img {
  opacity: 1;
}

.itemMenu_active .itemMenu_text {
  opacity: 1;
}

.viewComment {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
}

.viewComment_img {
  margin-right: 10px;
}

.viewComment_img_desactive {
  display: block;
}

.viewComment_img_active {
  display: none;
}

.viewComment_text {
  color: #ffffff;
  font-size: 16px;
}

.viewComment:hover {
  background: #192f4a;
}

.viewComment:active {
  background: #2d415b;
}

.viewComment_active .viewComment_img_desactive {
  display: none;
}

.viewComment_active .viewComment_img_active {
  display: block;
}

.userButton {
  padding: 12px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.userButton_img {
  margin-right: 8px;
}

.userButton_img img {
  border-radius: 50%;
}

.userButton_text {
  font-size: 16px;
  color: #ffffff;
}

.userButton:hover {
  background: #192f4a;
}
/*# sourceMappingURL=style.css.map */