.app{
	background: $background;
	padding: 20px 32px;
	.title{
		margin-bottom: 16px;
	}
	&_left{
		&_menu{
			&_item{
				margin-bottom: 16px;
				display: flex;
				align-items: center;
				&_icon{
					padding: 16px;
					background: $color2;
					border-radius: 16px;
					margin-right: 16px;
				}
				.active{
					background: $color1;
				}
			}
		}
	}
}
