.button1{
	padding: 16px;
	background: $color3;
	border: none;
	border-radius: 8px;
	color: $color4;
	cursor: pointer;
	font-size: 16px;
	&:hover{
		background: $color2;
	}
	&:active{
		border: 4px solid $color3;
	}
	&:focus{
		background: $color1;
	}
}

.button2{
	padding: 16px;
	background: $color5;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	&:hover{
		background: $color6;
	}
	&:active{
		background: $color5;
		border: 4px solid $color7;
	}
	&:focus{
		background: $color7;
	}
}

.buttonMenu{
	padding: 14px 15px;
	background: none;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	&:hover{
		background: $color5;
	}
	&:active{
		background: $color6;
	}
}

.itemMenu{
	display: flex;
	background: none;
	border: none;
	align-items: center;
	cursor: pointer;
	.buttonMenu{
		background: $color6;
		img{
			opacity: 0.5;
		}
		margin-right: 16px;
	}
	&_text{
		font-size: 16px;
		color: #ffffff;
		opacity: 0.5;
	}
	&:hover{
		.buttonMenu{
			background: $color3;
			opacity: 0.64;
			img{
				opacity: 1;
			}
		}
		.itemMenu_text{
			opacity: 1;
		}
	}
	&_active{
		.buttonMenu{
			background: $color3;
			img{
				opacity: 1;
			}

		}
		.itemMenu_text{
			opacity: 1;
		}
	}
}

.viewComment{
	background: none;
	display: flex;
	align-items: center;
	border: none;
	padding: 10px;
	border-radius: 16px;
	cursor: pointer;
	&_img{
		margin-right: 10px;
		&_desactive{
			display: block;
		}
		&_active{
			display: none;
		}
	}
	&_text{
		color: #ffffff;
		font-size: 16px;
	}
	&:hover{
		background: $color8;
	}
	&:active{
		background: $color9;
	}
	&_active{
		.viewComment_img{
			&_desactive{
				display: none;
			}
			&_active{
				display: block;
			}
		}
	}
}
