.input{
	padding: 16px 14px;
	background: rgba(255, 255, 255, 0.16);
	border-radius: 8px;
	border: none;
	color: #ffffff;
	&::placeholder{
		color: #ffffff;
	}
	&:active,&:hover{
		background: rgba(255, 255, 255, 0.24);
	}
}

.dropdown{
	position: relative;
	display: inline-block;
	cursor: pointer;
	.input{
		width: 100%;
		padding-right: 40px;
	}
	&_icon{
		position: absolute;
		top: calc(50% - 2px);
		right: 16px;
	}
	&:hover{
		.input{
			background: rgba(255, 255, 255, 0.24);
		}
	}
}
