.header{
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	padding: 32px;
	&_search{
		width: 100%;
		max-width: 752px;
		input{
			width: 100%;
			box-sizing: border-box;
		}
	}
	&_logo{
		padding: 12px;
		padding-left: 0;
	}
	&_btnMenu{
		display: none;
	}
	&_btnSearch{
		display: none;
	}
}

.menu{
	padding-left: 32px;
	padding-right: 32px;
	width: 344px;
	&_title{
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.4em;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 16px;
	}
	&_list{
		&_item + li {
			margin-top: 16px;
		}
	}
}

@media (max-width: 1439px) {
	.header{
		&_user{
			display: none;
		}
		&_btnMenu{
			display: block;
		}
	}
	.menu{
		display: none;
	}
}

@media (max-width: 379px) {
	.header{
		&_logo{
			flex: 1;
		}
		&_search{
			display: none;
		}
		&_btnSearch{
			display: block;
		}
	}
}
