.home{
	display: flex;
	justify-content: space-between;
	&_main{
		flex: 1;
		max-width: 752px;
		> .cardProject{
			margin-bottom: 32px;
		}
		> button{
			width: 100%;
		}
	}
	&_infoProjeto{
		width: 312px;
		padding-left: 40px;
		&_section{
			margin-bottom: 40px;
			> .input, > .dropdown{
				display: block;
				width: 100%;
				margin-bottom: 16px;
			}
			.colorPicker{
				margin-bottom: 32px;
			}
			button{
				display: block;
				width: 100%;
			}
		}
		&_line{
			> .input, > .dropdown{
				display: block;
				width: 100%;
				margin-bottom: 16px;
			}
		}
	}
}

@media (max-width: 1439px) {
	.home{
		justify-content: stretch;
		flex-direction: column;
		padding-left: 32px;
		padding-right: 32px;
		&_main{
			max-width: 100%;
			margin-bottom: 40px;
		}
		&_infoProjeto{
			width: 100%;
			padding-left: 0px;
			.menu_title{
				display: block;
			}

			&_line{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 32px;
				> .input, > .dropdown{
					width: calc(50% - 8px);
					margin-bottom: 0px;
				}
				.colorPicker{
					width: calc(50% - 8px);
					margin-bottom: 0px;
				}
			}
		}
	}
}

@media (max-width: 379px) {
	.home{
		&_infoProjeto{
			&_line{
				flex-wrap: wrap;
				> .input, > .dropdown{
					width: 100%;
					margin-bottom: 16px;
				}
				.colorPicker{
					width: 100%;
				}
			}
		}
	}

}
