$background: hsl(213, 84%, 13%);
$color1: #96B9FD;
$color2: #7BA4FC;
$color3: #5081FB;
$color4: #051D3B;
$color5: #0b254a;
$color6: #112d5a;
$color7: #173569;
$color8: #192f4a;
$color9: #2d415b;
$color10: #041832;
$color11: #141414;
$color12: #3d5068;

body{
	background: #051D3B;
}
*{
	font-family: 'Inter', sans-serif;
}

.container{
	max-width: 1440px;
	margin: 0 auto;
}
